body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-color: #0B3954;
  --secondary-color: #8C93A8;
  --tertiary-color: #DACC3E;
}

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
/* General Styling */
body {
  font-family: Helvetica, Arial, sans-serif;
  color: var(--tertiary-color);
}
/* Header styling */
header {
  display: flex;
  background-color: var(--primary-color);
  padding: 20px 35px;
  justify-content: space-between;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  align-items: center;
  z-index: 9999;
  min-height: 100px;
}

header nav ul {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
list-style: none;
}

header nav ul li {
padding: 10px 15px;
color: var(--tertiary-color);
font-weight: lighter;
font-size: 23px;
text-decoration: none;
}


header h1 {
font-weight: bold;
margin: 0;

display: flex;
}

header h1 a {
font-size: 36px;
color: var(--tertiary-color);
text-decoration: none;
}





.navActive {
  font-weight: bolder;
}

nav li {
  cursor: pointer;
}

/* hero styling */
.hero {
  display: flex;
  flex-wrap: wrap;
  max-height: 350px;
  min-height: 20vh;
  width: 100%;
  padding: 20px 35px 0 35px;
  background-image: url("./assets/images/road.jpg");
  background-size: cover;
  background-position: center;
  justify-content: flex-end;
  align-items: flex-end;
}

.hero-cta {
  margin: 0 20px 5px 0;
  line-height: 1.5;
  text-align: right;
  font-size: 23.04px;
  font-weight: bolder;
  color: var(--tertiary-color);

}

/* Section Styling */
.flex-wrapper {
  display: flex;
  min-height: 75vh;
  flex-direction: column;
  justify-content: space-between;
  background-color: #bfd7ea;
  max-width: 100vw;
}

.aboutSection {
  padding: 20px 35px 0px 35px;
  background-color: #bfd7ea;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 100vw;

  align-items: flex-start;

}



/* General Section Styling */

.section-title {
  font-size: 36px;
  color: var(--primary-color);
  margin-bottom: 20px;
  width: 100%;
  
}

.aboutText {
  font-size: 25px;
  color: var(--primary-color);
  line-height: 2;

  
}

/* About Me styling */

.about-me-content {
  display: flex;
  padding-left: 40px;
  border-left: 3px solid var(--tertiary-color);
}
.profile-img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.profile-img-container {
  max-height: 300px;
  max-width: 400px;
  margin-top: 0px;
}


/* Portfolio Styling */

.portfolioSection {
  padding: 20px 35px;
  background-color: #bfd7ea;
  display: flex;
  flex-wrap: wrap;
}

.portfolio {
  display: flex;
  max-width: 100vw;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  justify-content:flex-start;
}

.projects {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-bottom: 40px;
  width: 40%;
  height: 500px;
  position: relative;
  max-width: 700px;
  min-width: 300px;
}

.projects:hover img {
  mix-blend-mode: hard-light;
  opacity: 0.2;
  transition: all .5s ease;
}
.project-image {
  height: 100%;
  width: 100%;
  color: var(--tertiary-color);
  object-fit: fill;
}

.projects:hover a {
  opacity: 40%;
}

.links {
  position: absolute;
  width: max-content;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}
.project-name {
  
  font-size: 40px;
  opacity: 0;
  color: black;
  font-weight: bolder;
  text-decoration: none;
  margin-right: 20px;
}

.gitIcon {
  font-size:40px;
  opacity: 100%;
  opacity: 0;
  color: black;


}

.projects a:hover {
  opacity: 100%;
  transition: all .5s ease;

}
/* Resume Section */
.resumeSection {
  padding: 20px 35px;
  background-color: #bfd7ea;
}

.resumeText {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 0;
}

.listText {
  font-size: 20px;
  color: var(--primary-color);
  margin-left: 20px;
  margin-bottom: 5px;
}

.resumeHeading {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  color: var(--primary-color)
}



.downloadText {
  text-decoration: none;
  color: var(--primary-color);
  opacity: .7;
  margin-bottom: 0;
}

.downloadText:hover {
  opacity: 1;
}

/* Contact Section */

.contactSection {
  padding: 20px 35px;
  background-color: #bfd7ea;
  display: flex;
  flex-wrap: wrap;
}

.contactText {
  font-size: 24px;
  color: var(--primary-color);
}




.contactInput {
  margin-bottom: 20px;
  line-height: 40px;
  max-width: 100vw;
  min-width: 25vw;
  font-size: 20px;
}

.submitBtn {
  background-color: var(--primary-color);
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  max-width: 100vw;
  min-width: 25vw;
  padding: 10px 15px;
}

.error-text {
  font-size: 20px;
  color: red;
}

/* Footer Styling */

.footerSection {
  background-color: #bfd7ea;
  min-height: 20vh;
  max-height: 50px;
  line-height: 100%;
  display: flex;
  align-items:flex-end;
  flex-direction: row;
  justify-content: center;



}

.footerIcons {
  font-size: 48px;
  color: var(--primary-color);
  margin-left: 30px;
  opacity: .7;
  margin-bottom: 6%;

}

.footerIcons:hover {
  
  opacity: 1;
  transition: all .5s ease;

}